<% include head %>
	<h1>CREATE A NEW MICRO_POST</h1>
	<form action="/posts" method="POST">
		<p><input type="text" name="title" placeholder="Title" required></p>
		<p><input type="text" name="author" placeholder="Author"></p>
		<p><textarea name="body" cols="50" row="60" placeholder="Write post.." required></textarea></p>
		<button>Submit</button>
	</form>
<% include footer %>